// custom variable values
$primary: #00645f;
$light: #fbf5e5;
$zindex-offcanvas:1055;


// Global style or component-specific style
.offcanvas-title {
  color: $primary;  // Apply the color to the h5 title
}

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #feffea,
  "altyellow": #ffef01
);

.smaller-img {
    width: 80%;  /* Adjust the percentage to control the size */
  }
  

/* Make navbar title larger */
.navbar-brand .title-text {
    font-size: 2rem; // Adjust the font size as needed
  }

/* Center navbar items */
.navbar-nav {
    text-align: center; // Center text horizontally
  }
  
  .navbar-nav .nav-item {
    margin-left: 20px; // Optional: Add spacing between nav items
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
  
  #intro .btn {
    margin-top: 30px; /* Space above the button */
  }
  
// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';