// Custom variable values
$primary: #00645f;        // Dark teal color for primary elements
$light: #fbf5e5;          // Light color for text and backgrounds
$zindex-offcanvas: 1055;  // Z-index for offcanvas components

// Custom theme colors
$custom-theme-colors: (
  "altlight": #feffea,     // Light background color
  "altyellow": #ffef0e     // Custom yellow color
);

// Merge custom theme colors with Bootstrap's theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// Import Bootstrap's SCSS functions and variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// Global styles

/* Offcanvas title style */
.offcanvas-title {
  color: $primary;  // Apply the primary color to the offcanvas title
}

/* Image size adjustment for smaller images */
.smaller-img {
  width: 80%;  // Set width to 80% for smaller images
}

/* Navbar title - make it larger */
.navbar-brand .title-text {
  font-size: 2rem;  // Adjust font size for the navbar title
}

/* Center navbar items */
.navbar-nav {
  text-align: center;  // Center navbar items horizontally
}

.navbar-nav .nav-item {
  margin-left: 20px;  // Add spacing between navbar items
}

/* Global body styles */
body {
  font-family: 'Open Sans', sans-serif;  // Apply custom font to the body
}

/* Button style for the intro section */
#intro .btn {
  margin-top: 30px;  // Add space above the button in the intro section
}

// Import Bootstrap's SCSS styles
@import '../node_modules/bootstrap/scss/bootstrap';
